@page "/booklist"
@using TodoList.Models.Abstract
@using TodoList.Models
@inject IBookService BookService
<table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Description</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in BooksList)
            {
                <tr>
                    <td>@book.Name</td>
                    <td>@book.Author</td>
                    <td>@book.Description</td>
                    <td>@book.Genre</td>
                </tr>
            }
        </tbody>
    </table>
@code {
    public IEnumerable<Book> BooksList {get; set; }
    
    protected override void OnInitialized(){
        BooksList = BookService.GetBooks();
    }
}